<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Куки</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container mt-5">
    <h1>Страница с куками</h1>
    <p><strong>Значение куки:</strong> {{ cookie_value }}</p>

    <form action="{{ url_for('delete_cookie') }}" method="post">
        <button type="submit" class="btn btn-danger">Удалить куки</button>
    </form>
</body>

</html>